Repository bcgov/nr-bcwat, pull requests merged in 2025-04, with the labels that each got.

#6 Init Flask Api - Hello World - PyTest - Dockerized
  Dockerfile
  backend/.dockerignore
  backend/.gitignore
  backend/Dockerfile
  backend/README.md
  backend/main.py
  backend/pytest.ini
  backend/requirements.txt
  backend/run_unit_tests.sh
  backend/startup.sh
  backend/tests/conftest.py
  backend/tests/test_hello_world.py
  backend/wsgi.py
  docker-compose.yaml
Labels: documentation, good first issue

#33 BCWAT 12 Adjust Streamflow Sidebar
  client/src/components/streamflow/Streamflow.vue
Labels: enhancement, frontend, ui/ux design

#43 Implement unit-tests for WscHydroPipeline specific methods
  etl_pipelines/requirements.txt
  etl_pipelines/scrapers/EtlPipeline.py
  etl_pipelines/scrapers/StationObservationPipeline/StationObservationPipeline.py
  etl_pipelines/scrapers/StationObservationPipeline/water/wsc_hydrometric.py
  etl_pipelines/tests/test_constants/test_wsc_hydrometric_constants.py
  etl_pipelines/tests/test_wsc_hydrometric.py
  etl_pipelines/utils/constants.py
  etl_pipelines/utils/database.py
Labels: data, testing, airflow/scrapers

#34 Added a new template for new issues
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/new_task.md
Labels: documentation

#42 Bcwat 20 annual hydrology
  client/src/assets/variables.scss
  client/src/components/Map.vue
  client/src/components/watershed/Watershed.vue
  client/src/components/watershed/WatershedReport.vue
  client/src/components/watershed/report/AllocationsByIndustry.vue
  client/src/components/watershed/report/AnnualHydrology.vue
  client/src/components/watershed/report/MapMarker.vue
  client/src/components/watershed/report/WatershedIntroduction.vue
  client/src/components/watershed/report/WatershedOverview.vue
  client/src/utils/stringHelpers.js
Labels: frontend

#63 OnPrem CI/CD Initialized: Airflow/Application
  .github/workflows/foundry.okd.on-push.application.yaml
  airflow/Dockerfile
  airflow/pod_templates/simple_task_template.yaml
  charts/airflow/README.md
  charts/airflow/values.base.yaml
  charts/airflow/values.okd.yaml
  charts/app/templates/backend-deployment.yaml
  charts/app/templates/client-deployment.yaml
  charts/app/values.okd.yaml
  client/Dockerfile
  client/package-lock.json
  client/package.json
Labels: devops, backend/api, airflow/scrapers

#65 Bcwat 46 implement `env hydro` scraper and DAG
  airflow/dags/env_hydro_dag.py
  airflow/etl_pipelines/scrapers/EtlPipeline.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/StationObservationPipeline.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/water/env_hydro.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/water/gw_moe.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/water/wsc_hydrometric.py
  airflow/etl_pipelines/utils/constants.py
  airflow/run_all_scrapers.py
Labels: data, airflow/scrapers

#64 Configure PV/PVC, logging, on OKD cluster
  airflow/pod_templates/simple_task_template.yaml
  charts/airflow/README.md
  charts/airflow/values.base.yaml
  charts/app/Chart.yaml
  charts/nfs-server/README.md
  charts/nfs-server/okd/persistentvolume.yaml
  charts/nfs-server/okd/persistentvolumeclaim.yaml
Labels: devops, airflow/scrapers
