Repository bcgov/nr-bcwat, pull requests merged in 2025-06, with the labels that each got.

#177 Enhanced docs
  airflow/README.md
  airflow/etl_pipelines/README.md
  documentation/Architecture.md
Labels: documentation

#181 178 automate tests
  .github/workflows/.system-tests.yml
  .github/workflows/.tests.yml
  .github/workflows/.unit-tests.yml
  .github/workflows/demo.yml
  .github/workflows/merge.yml
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
  .gitignore
  README.md
  backend/conftest.py
  backend/main.py
  backend/startup.sh
  backend/tests/conftest.py
  backend/tests/test_hello_world.py
  charts/openshift/app/templates/backend/templates/deployment.yaml
  charts/openshift/app/templates/frontend/templates/configmap.yaml
  charts/openshift/app/templates/frontend/templates/deployment.yaml
  charts/openshift/app/values.yaml
  client/.env.example
  client/Dockerfile
  client/cypress.config.js
  client/cypress/e2e/navigation.cy.js
  client/cypress/support/e2e.js
  client/vite.config.js
  client/vitest/ChartLegend.spec.js
  client/vitest/chartHelpers.spec.js
  client/vitest/stringHelpers.spec.js
  tests/integration/.env.example
  tests/integration/README.md
  tests/integration/package-lock.json
  tests/integration/package.json
  tests/integration/src/index.js
  tests/integration/src/test_suites/backend.flask.json
  tests/integration/src/test_suites/example.json
  tests/load/README.md
  tests/load/backend-test.js
  tests/load/client-test.js
Labels: devops, backend/api, testing

#183 bcwat-168-json-schema
  backend/json_schema/climate/climateReport.json
  backend/json_schema/climate/climateStations.json
  backend/json_schema/groundwater_level/groundwaterLevelReport.json
  backend/json_schema/groundwater_level/groundwaterLevelStations.json
  backend/json_schema/groundwater_quality/groundwaterQualityReport.json
  backend/json_schema/groundwater_quality/groundwaterQualityStations.json
  backend/json_schema/streamflow/streamflowReport.json
  backend/json_schema/streamflow/streamflowStations.json
  backend/json_schema/surfacewater_quality/surfacewaterQualityReport.json
  backend/json_schema/surfacewater_quality/surfacewaterQualityStations.json
  backend/json_schema/watershed/watershedReportData.json
  backend/json_schema/watershed/watershedStation.json
  client/src/components/climate/ClimatePage.vue
  client/src/components/groundwater-level/GroundwaterLevel.vue
  client/src/components/groundwater/GroundWater.vue
  client/src/components/streamflow/FlowDuration.vue
  client/src/components/streamflow/FlowDurationTool.vue
  client/src/components/streamflow/SevenDayFlow.vue
  client/src/components/streamflow/Streamflow.vue
  client/src/components/streamflow/StreamflowReport.vue
  client/src/components/streamflow/StreamflowStage.vue
  client/src/components/surfacewater/SurfaceWater.vue
  client/src/constants/climateReport.json
  client/src/utils/api.js
Labels: documentation, frontend, backend/api

#188 bcwat-159-watershed-unit-testing
  client/cypress/component/climate/ClimatePage.cy.js
  client/cypress/component/climate/ClimateReport.cy.js
  client/cypress/component/watershed/WatershedReport.cy.js
  client/cypress/component/watershed/report/Allocations.cy.js
  client/cypress/component/watershed/report/AllocationsByIndustry.cy.js
  client/cypress/component/watershed/report/AnnualHydrology.cy.js
  client/cypress/component/watershed/report/Climate.cy.js
  client/cypress/component/watershed/report/ClimateChart.cy.js
  client/cypress/component/watershed/report/HydrologicVariability.cy.js
  client/cypress/component/watershed/report/Landcover.cy.js
  client/cypress/component/watershed/report/MonthlyHydrology.cy.js
  client/cypress/component/watershed/report/NoteLink.cy.js
  client/cypress/component/watershed/report/Notes.cy.js
  client/cypress/component/watershed/report/Topography.cy.js
  client/cypress/component/watershed/report/WatershedOverview.cy.js
  client/src/components/ReportChart.vue
  client/src/components/climate/ClimateReport.vue
  client/src/components/streamflow/SevenDayFlow.vue
  client/src/components/waterquality/WaterQualityReportChart.vue
  client/src/components/watershed/report/Allocations.vue
  client/src/components/watershed/report/AllocationsByIndustry.vue
  client/src/components/watershed/report/AnnualHydrology.vue
  client/src/components/watershed/report/ClimateChart.vue
  client/src/constants/activePointClimate.json
  client/src/constants/groundWaterLevelData.json
  client/src/utils/dateHelpers.js
Labels: frontend, testing

#193 RM deploy on PR Open
  .github/workflows/pr-open.yml
Labels: devops

#196 bcwat-163-groundwater-unit-testing
  client/cypress/component/groundwater-level/GroundWaterLevelReport.cy.js
  client/cypress/component/groundwater-level/GroundwaterLevel.cy.js
  client/cypress/support/component-index.html
  client/src/components/groundwater-level/GroundWaterLevelReport.vue
  client/src/components/streamflow/StreamflowReport.vue
Labels: frontend, testing

#195 bcwat-156-streamflow-unit-testing
  client/README.md
  client/cypress.config.js
  client/cypress/component/groundwater-level/GroundWaterLevelReport.cy.js
  client/cypress/component/groundwater-level/GroundwaterLevel.cy.js
  client/cypress/component/streamflow/FlowDuration.cy.js
  client/cypress/component/streamflow/FlowDurationTool.cy.js
  client/cypress/component/streamflow/FlowMetrics.cy.js
  client/cypress/component/streamflow/MonthlyFlowStatistics.cy.js
  client/cypress/component/streamflow/SevenDayFlow.cy.js
  client/cypress/component/streamflow/Streamflow.cy.js
  client/cypress/component/streamflow/StreamflowReport.cy.js
  client/cypress/component/streamflow/StreamflowStage.cy.js
  client/cypress/component/streamflow/TotalRunoff.cy.js
  client/cypress/e2e/Streamflow.cy.js
  client/cypress/support/component-index.html
  client/src/components/ReportChart.vue
  client/src/components/groundwater-level/GroundWaterLevelReport.vue
  client/src/components/streamflow/FlowDuration.vue
  client/src/components/streamflow/FlowDurationTool.vue
  client/src/components/streamflow/FlowMetrics.vue
  client/src/components/streamflow/MonthlyFlowStatistics.vue
  client/src/components/streamflow/SevenDayFlow.vue
  client/src/components/streamflow/StreamflowReport.vue
  client/src/components/streamflow/StreamflowStage.vue
  client/src/components/streamflow/TotalRunoff.vue
  client/src/constants/flowDuration.json
  client/src/constants/flowMetrics.json
  client/src/utils/api.js
Labels: frontend, testing

#187 Short term Approval Licence scraper
  airflow/dags/water_licences_bcer_dag.py
  airflow/etl_pipelines/scrapers/DataBcPipeline/licences/water_licences_bcer.py
  airflow/etl_pipelines/utils/constants.py
  backend/database_initialization/queries/bcwat_licence_data.py
  backend/database_initialization/queries/bcwat_licence_erd_diagram.py
Labels: data, airflow/scrapers

#199 Major data import script update
  airflow/etl_pipelines/scrapers/StationObservationPipeline/climate/asp.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/climate/msp.py
  backend/.gitignore
  backend/database_initialization/README.md
  backend/database_initialization/all_data_transfer.py
  backend/database_initialization/constants.py
  backend/database_initialization/queries/bcwat_licence_data.py
  backend/database_initialization/queries/bcwat_licence_erd_diagram.py
  backend/database_initialization/queries/bcwat_obs_data.py
  backend/database_initialization/queries/bcwat_obs_erd_diagram.py
  backend/database_initialization/queries/bcwat_watershed_data.py
  backend/database_initialization/queries/bcwat_watershed_erd_diagram.py
  backend/database_initialization/readme_sources/bcwat_licence_erd_diagram.png
  backend/database_initialization/readme_sources/bcwat_obs_erd_diagram.png
  backend/database_initialization/readme_sources/bcwat_watershed_erd_diagram.png
  backend/database_initialization/util.py
  documentation/Architecture.md
  migrations/sql/V1.0.1__bcwat_obs_erd_diagram.sql
  migrations/sql/V1.0.2__bcwat_watersed_erd_diagram.sql
  migrations/sql/V1.0.3__bcwat_licence_erd_diagram.sql
Labels: data, airflow/scrapers

#200 Quarterly Climate Environment Canada Update
  airflow/dags/quarterly_climate_ec_update_dag.py
  airflow/etl_pipelines/README.md
  airflow/etl_pipelines/scrapers/EtlPipeline.py
  airflow/etl_pipelines/scrapers/QuarterlyPipeline/quarterly/climate_ec_update.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/StationObservationPipeline.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/climate/asp.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/climate/drive_bc.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/climate/ec_xml.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/climate/env_aqn.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/climate/flnro_wmb.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/climate/msp.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/climate/weather_farm_prd.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/water/env_hydro.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/water/flow_works.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/water/gw_moe.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/water/wsc_hydrometric.py
  airflow/etl_pipelines/utils/constants.py
  backend/database_initialization/readme_sources/bcwat_watershed_erd_diagram.png
  documentation/Architecture.md
Labels: data, airflow/scrapers

#206 Lock Chart Verison, Update to python3.12
  .github/workflows/foundry.okd.on-push.application.yaml
  airflow/Dockerfile
  charts/okd/airflow/README.md
Labels: devops, airflow/scrapers

#208 Move `network_id` and `type_id` into the table `bcwat_obs.station`
  airflow/etl_pipelines/readme_sources/BCWAT_final_UML_diagram.png
  airflow/etl_pipelines/scrapers/QuarterlyPipeline/quarterly/climate_ec_update.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/StationObservationPipeline.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/climate/weather_farm_prd.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/water/env_hydro.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/water/flow_works.py
  airflow/etl_pipelines/utils/constants.py
  backend/database_initialization/all_data_transfer.py
  backend/database_initialization/constants.py
  backend/database_initialization/queries/bcwat_obs_data.py
  backend/database_initialization/queries/bcwat_obs_erd_diagram.py
  backend/database_initialization/queries/bcwat_watershed_erd_diagram.py
  backend/database_initialization/queries/post_import_queries.py
  backend/database_initialization/readme_sources/bcwat_obs_erd_diagram.png
  migrations/sql/V1.0.1__bcwat_obs_erd_diagram.sql
  migrations/sql/V1.0.2__bcwat_watersed_erd_diagram.sql
Labels: data, airflow/scrapers

#212 Stations fix and clean up
  airflow/dags/quarterly_hydat_import_dag.py
  airflow/etl_pipelines/scrapers/QuarterlyPipeline/quarterly/hydat_import.py
Labels: airflow/scrapers

#214 Debugging Airflow Image Issue
  charts/okd/airflow/values.yaml
Labels: devops, airflow/scrapers

#221 updated-architecture-readme-doc
  documentation/Architecture.md
Labels: documentation, backend/api
