Repository bcgov/nr-bcwat, pull requests merged in 2025-05, with the labels that each got.

#72 Bcwat 47 implement flow works scraper
  airflow/etl_pipelines/scrapers/EtlPipeline.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/StationObservationPipeline.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/water/env_hydro.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/water/flow_works.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/water/gw_moe.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/water/wsc_hydrometric.py
  airflow/etl_pipelines/utils/constants.py
Labels: data, airflow/scrapers

#118 Fix Fernet Key
  airflow/pod_templates/medium_task_template.yaml
  airflow/pod_templates/simple_task_template.yaml
  charts/airflow/README.md
  charts/airflow/values.base.yaml
Labels: devops, airflow/scrapers

#119 Enable Medium Task Persistent Logs
  airflow/pod_templates/medium_task_template.yaml
  airflow/pod_templates/simple_task_template.yaml
Labels: devops, airflow/scrapers

#117 Bcwat 79 insert station method
  .gitignore
  airflow/etl_pipelines/scrapers/QuarterlyPipeline/quarterly/climate_ec_update.py
  airflow/etl_pipelines/scrapers/QuarterlyPipeline/quarterly/gw_moe.py
  airflow/etl_pipelines/scrapers/QuarterlyPipeline/quarterly/hydat_import.py
  airflow/etl_pipelines/scrapers/QuarterlyPipeline/quarterly/water_quality_eccc.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/StationObservationPipeline.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/climate/aqn_pcic.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/climate/asp.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/climate/drive_bc.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/climate/ec_xml.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/climate/flnro_pcic.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/climate/msp.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/climate/viu_fern.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/climate/weather_farm_prd.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/water/env_hydro.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/water/flow_works.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/water/gw_moe.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/water/wsc_hydrometric.py
  airflow/etl_pipelines/utils/constants.py
Labels: data, airflow/scrapers

#126 Bcwat 80 asp scraper
  airflow/dags/asp_dag.py
  airflow/etl_pipelines/scrapers/EtlPipeline.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/StationObservationPipeline.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/climate/asp.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/water/env_hydro.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/water/flow_works.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/water/gw_moe.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/water/wsc_hydrometric.py
  airflow/etl_pipelines/utils/constants.py
  airflow/etl_pipelines/utils/functions.py
Labels: data, airflow/scrapers

#128 update PV path
  charts/nfs-server/okd/persistentvolume.yaml
Labels: devops, airflow/scrapers

#130 Bcwat 83 msp scraper
  airflow/.env.example
  airflow/README.md
  airflow/dags/asp_dag copy.py
  airflow/etl_pipelines/README.md
  airflow/etl_pipelines/scrapers/StationObservationPipeline/climate/asp.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/climate/msp.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/water/flow_works.py
  airflow/etl_pipelines/utils/constants.py
Labels: data, airflow/scrapers

#129 37 airflow sendgrid init
  airflow/.env.example
  airflow/Dockerfile
  airflow/README.md
  airflow/dags/asp_dag.py
  airflow/dags/env_hydro_dag.py
  airflow/dags/flow_works_dag.py
  airflow/dags/gw_moe_dag.py
  airflow/dags/wsc_hydro_dag.py
  airflow/pod_templates/medium_task_template.yaml
  airflow/pod_templates/simple_task_template.yaml
Labels: devops, airflow/scrapers

#138 Bcwat 82 ec xml scraper
  airflow/dags/ec_xml_dag.py
  airflow/etl_pipelines/scrapers/EtlPipeline.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/StationObservationPipeline.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/climate/drive_bc.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/climate/ec_xml.py
  airflow/etl_pipelines/utils/constants.py
  airflow/requirements.txt
  backend/database_initialization/queries/bcwat_obs_erd_diagram.py
Labels: data, airflow/scrapers

#143 Bcwat 141 add documentation to database init
  backend/README.md
  backend/database_initialization/README.md
  backend/database_initialization/all_data_transfer.py
Labels: documentation

#146 125 climate page manual snow survey
  .vscode/settings.json
  client/src/components/climate/ClimateReport.vue
  client/src/components/climate/report/ClimateReportChart.vue
  client/src/components/climate/report/ManualSnowSurvey.vue
  client/src/components/climate/report/SnowOnGround.vue
  client/src/components/climate/report/SnowWaterEquivalent.vue
  client/src/components/climate/report/Temperature.vue
  client/src/constants/manualSnow.json
Labels: enhancement, frontend

#140 Bcwat 87 weather farm prd scraper
  airflow/dags/asp_dag.py
  airflow/dags/drive_bc_dag.py
  airflow/dags/ec_xml_dag.py
  airflow/dags/env_hydro_dag.py
  airflow/dags/flow_works_dag.py
  airflow/dags/gw_moe_dag.py
  airflow/dags/msp_dag.py
  airflow/dags/weather_farm_prd_dag.py
  airflow/dags/wsc_hydro_dag.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/StationObservationPipeline.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/climate/asp.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/climate/drive_bc.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/climate/ec_xml.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/climate/msp.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/climate/weather_farm_prd.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/water/env_hydro.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/water/flow_works.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/water/gw_moe.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/water/wsc_hydrometric.py
  airflow/etl_pipelines/utils/constants.py
  backend/README.md
  backend/database_initialization/README.md
  backend/database_initialization/all_data_transfer.py
  backend/database_initialization/queries/bcwat_obs_erd_diagram.py
  backend/database_initialization/queries/static_data_queries.py
Labels: data, airflow/scrapers

#158 Bcwat 148 import some license data
  backend/database_initialization/README.md
  backend/database_initialization/all_data_transfer.py
  backend/database_initialization/constants.py
  backend/database_initialization/queries/bcwat_licence_data.py
  backend/database_initialization/queries/bcwat_licence_erd_diagram.py
  backend/database_initialization/queries/bcwat_obs_data.py
  backend/database_initialization/queries/bcwat_watershed_data.py
  backend/database_initialization/transfer_table.py
  backend/database_initialization/util.py
Labels: data

#165 Bcwat 85 pcic flnro wmb scraper
  airflow/dags/flnro_dag.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/climate/flnro_pcic.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/climate/flnro_wmb.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/climate/weather_farm_prd.py
  airflow/etl_pipelines/tests/test_flnro_pcic.py
  airflow/etl_pipelines/utils/constants.py
  backend/database_initialization/README.md
Labels: data, airflow/scrapers

#171 Bcwat 88 water approval points
  airflow/dags/asp_dag.py
  airflow/dags/ec_xml_dag.py
  airflow/dags/env_aqn_dag.py
  airflow/dags/env_hydro_dag.py
  airflow/dags/flnro_dag.py
  airflow/dags/flow_works_dag.py
  airflow/dags/gw_moe_dag.py
  airflow/dags/msp_dag.py
  airflow/dags/water_approval_dag.py
  airflow/dags/weather_farm_prd_dag.py
  airflow/dags/wsc_hydro_dag.py
  airflow/etl_pipelines/README.md
  airflow/etl_pipelines/readme_sources/BCWAT_final_UML_diagram.png
  airflow/etl_pipelines/scrapers/DataBcPipeline/DataBcpipeline.py
  airflow/etl_pipelines/scrapers/DataBcPipeline/licences/water_approval_points.py
  airflow/etl_pipelines/scrapers/EtlPipeline.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/StationObservationPipeline.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/water/env_hydro.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/water/flow_works.py
  airflow/etl_pipelines/utils/constants.py
  airflow/requirements.txt
  backend/database_initialization/README.md
  backend/database_initialization/constants.py
  backend/database_initialization/queries/bcwat_licence_data.py
  backend/database_initialization/queries/bcwat_licence_erd_diagram.py
  backend/database_initialization/queries/bcwat_watershed_erd_diagram.py
  backend/database_initialization/queries/post_import_queries.py
  backend/database_initialization/readme_sources/bcwat_licence_erd_diagram.png
  backend/database_initialization/readme_sources/bcwat_obs_erd_diagram.png
  backend/database_initialization/readme_sources/bcwat_watershed_erd_diagram.png
Labels: data, airflow/scrapers
