Repository bcgov/nr-bcwat, pull requests merged in 2025-08, with the labels that each got.

#423 Init Test Airflow/DB
  .github/workflows/merge.yml
  README.md
  charts/openshift/airflow/README.md
  charts/openshift/airflow/prerequisites/test/PersistentVolumeClaim.yaml
  charts/openshift/airflow/values.test.yaml
  charts/openshift/crunchy/README.md
  charts/openshift/crunchy/values.test.yaml
Labels: devops, data, airflow/scrapers

#430 comment out prod deploy
  .github/workflows/merge.yml
  charts/openshift/app/values.test.yaml
Labels: devops

#441 Realign main with Dev
  .github/workflows/.deployer.yml
  .github/workflows/merge.yml
  charts/openshift/app/values.test.yaml
  charts/openshift/app/values.yaml
Labels: devops

#443 Pgbouncer test on okd
  airflow/etl_pipelines/utils/database.py
  charts/okd/app/templates/backend/templates/deployment.yaml
  charts/okd/app/values.yaml
  charts/okd/crunchy/PostgresCluster.yaml
  charts/openshift/crunchy/values.dev.yaml
  migrations/sql/V1.0.4_db_user_permissions.sql
Labels: devops, data

#444 Initialize PGBouncer on Openshift Dev
  .github/workflows/merge.yml
  .github/workflows/pr-open.yml
  charts/openshift/app/templates/backend/templates/deployment.yaml
  charts/openshift/app/templates/secret.yaml
  charts/openshift/crunchy/values.dev.yaml
  database_initialization/queries/post_import_queries.py
  migrations/sql/V1.0.1__bcwat_obs_erd_diagram.sql
  migrations/sql/V1.0.2__bcwat_watersed_erd_diagram.sql
  migrations/sql/V1.0.3__bcwat_licence_erd_diagram.sql
  migrations/sql/V1.0.4_db_user_permissions.sql
Labels: backend/api

#452 Update Dev DB Storage/Wal
  charts/openshift/crunchy/values.dev.yaml
Labels: data

#464 Initializing Prod DB with replicas, defaulting pgbackrest off (for now)
  charts/openshift/airflow/prerequisites/prod/PersistentVolumeClaim.yaml
  charts/openshift/airflow/values.prod.yaml
  charts/openshift/crunchy/values.prod.yaml
  charts/openshift/restore-db/knp.yaml
  charts/openshift/restore-db/restore.yaml
Labels: devops, data

#483 Fix Timeout Issue for Flyway Migrations on Test Deployment
  .github/workflows/foundry.okd.on-push.application.yaml
  .github/workflows/merge.yml
  client/package-lock.json
  client/package.json
Labels: devops

#574 UAT fixes for #570, #571, and part of #567
  airflow/etl_pipelines/scrapers/QuarterlyPipeline/quarterly/hydat_import.py
  backend/documentation/openapi.json
  backend/queries/watershed/get_watershed_allocations_by_id.py
  client/cypress/component/watershed/report/Allocations.cy.js
  client/src/components/watershed/report/Allocations.vue
  migrations/sql/V1.0.5__change_to_get_annual_hydrology.sql
  migrations/sql/V1.0.6__update_to_some_sql_funcs.sql
Labels: UAT

#563 Bcwat 271 revamp wsc hydrometric tests
  airflow/etl_pipelines/tests/test_wsc_hydrometric.py
Labels: bug, testing, airflow/scrapers

#564 finished tests for functions.py
  airflow/etl_pipelines/tests/conftest.py
  airflow/etl_pipelines/tests/test_functions.py
  airflow/etl_pipelines/utils/functions.py
Labels: testing, airflow/scrapers

#592 Unit tests for `flnro_wmb.py`
  airflow/etl_pipelines/tests/test_constants/station_csv/flnro_wmb_download.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/flnro_wmb_output.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/flnro_wmb_station.csv
  airflow/etl_pipelines/tests/test_flnro_pcic.py
  airflow/etl_pipelines/tests/test_flnro_wmb.py
Labels: testing, airflow/scrapers

#593 Unit tests for `asp.py` with other changes
  airflow/etl_pipelines/scrapers/DataBcPipeline/licences/water_licences_bcer.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/climate/asp.py
  airflow/etl_pipelines/tests/test_asp.py
  airflow/etl_pipelines/tests/test_climate_ec_update.py
  airflow/etl_pipelines/tests/test_constants/station_csv/asp_output.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/asp_pc_download.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/asp_sd_download.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/asp_station.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/asp_sw_download.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/asp_ta_download.csv
  airflow/etl_pipelines/tests/test_constants/water_licence_csv/water_licences_bcer_download.geojson
  airflow/etl_pipelines/tests/test_constants/water_licence_csv/water_licences_bcer_download_output.csv
  airflow/etl_pipelines/tests/test_constants/water_licence_csv/water_licences_bcer_downloaded.csv
  airflow/etl_pipelines/tests/test_constants/water_licence_csv/water_licences_bcer_output.csv
  airflow/etl_pipelines/tests/test_flnro_wmb.py
  airflow/etl_pipelines/tests/test_water_approval_points.py
  airflow/etl_pipelines/tests/test_water_licences_bcer.py
  airflow/etl_pipelines/tests/test_water_rights_applications_public.py
  airflow/etl_pipelines/tests/test_water_rights_licences_public.py
  airflow/requirements.txt
Labels: testing, airflow/scrapers

#598 597 - output version number in the client
  client/src/App.vue
Labels: documentation, frontend

#600 `weather_farm_prd.py` Unit Tests
  airflow/etl_pipelines/tests/test_constants/station_csv/weather_farm_prd_download.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/weather_farm_prd_output.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/weather_farm_prd_station.csv
  airflow/etl_pipelines/tests/test_weather_farm_prd.py
Labels: testing, airflow/scrapers

#596 `climate_ec_update.py` unit tests
  airflow/etl_pipelines/scrapers/QuarterlyPipeline/quarterly/climate_ec_update.py
  airflow/etl_pipelines/tests/test_aqn.py
  airflow/etl_pipelines/tests/test_asp.py
  airflow/etl_pipelines/tests/test_climate_ec_update.py
  airflow/etl_pipelines/tests/test_constants/station_csv/climate_ec_update_download.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/climate_ec_update_output.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/climate_ec_update_station.csv
  airflow/etl_pipelines/tests/test_flnro_wmb.py
  airflow/etl_pipelines/tests/test_msp.py
  airflow/etl_pipelines/tests/test_stationobservationpipeline_class.py
  airflow/etl_pipelines/tests/test_weather_farm_prd.py
  airflow/etl_pipelines/tests/test_wsc_hydrometric.py
Labels: testing, airflow/scrapers
