Repository bcgov/nr-bcwat, pull requests merged in 2025-09, with the labels that each got.

#609 Add client url to docker
  .github/workflows/merge.yml
  .github/workflows/pr-open.yml
  .github/workflows/prod_deploy.yaml
  client/Dockerfile
  client/Dockerfile_OKD
Labels: devops

#615 Ensure deploy after build
  .github/workflows/merge.yml
Labels: devops

#614 Unit tests for `gw_moe.py`
  airflow/etl_pipelines/scrapers/StationObservationPipeline/water/gw_moe.py
  airflow/etl_pipelines/tests/test_constants/station_csv/moe_gw_download.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/moe_gw_output.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/moe_gw_quarterly_download.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/moe_gw_quarterly_output.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/moe_gw_station.csv
  airflow/etl_pipelines/tests/test_gw_moe.py
Labels: testing, airflow/scrapers

#617 `flow_works.py` unit tests!
  airflow/etl_pipelines/scrapers/StationObservationPipeline/water/flow_works.py
  airflow/etl_pipelines/tests/test_constants/station_csv/flowworks_discharge_download.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/flowworks_output.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/flowworks_stage_download.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/flowworks_station.csv
  airflow/etl_pipelines/tests/test_flow_works.py
Labels: testing, airflow/scrapers

#619 Unit tests for `water_quality_eccc.py`
  .gitattributes
  airflow/etl_pipelines/scrapers/QuarterlyPipeline/quarterly/water_quality_eccc.py
  airflow/etl_pipelines/tests/test_constants/station_csv/water_quality_eccc_columbia_river_download.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/water_quality_eccc_columbia_river_output.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/water_quality_eccc_download_raw.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/water_quality_eccc_fraser_river_download.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/water_quality_eccc_fraser_river_output.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/water_quality_eccc_lower_mackenzie_download.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/water_quality_eccc_lower_mackenzie_output.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/water_quality_eccc_okanagan_similkameen_download.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/water_quality_eccc_okanagan_similkameen_output.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/water_quality_eccc_pacific_coastal_download.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/water_quality_eccc_pacific_coastal_output.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/water_quality_eccc_peace_athabasca_download.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/water_quality_eccc_peace_athabasca_output.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/water_quality_eccc_station.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/water_quality_params.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/water_quality_units.csv
  airflow/etl_pipelines/tests/test_water_quality_eccc.py
  airflow/etl_pipelines/utils/constants.py
Labels: testing, airflow/scrapers

#622 Unit tests for `moe_hydrometric_historical.py`
  airflow/etl_pipelines/tests/test_constants/station_csv/moe_hydro_hist_discharge_download.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/moe_hydro_hist_discharge_output.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/moe_hydro_hist_stage_download.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/moe_hydro_hist_stage_output.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/moe_hydro_hist_station.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/moe_hydro_hist_url_page.txt
  airflow/etl_pipelines/tests/test_moe_hydrometric_historic.py
  airflow/etl_pipelines/tests/test_viu_fern.py
Labels: testing, airflow/scrapers

#631 Unit tests for `ems_archive_update.py`
  airflow/etl_pipelines/scrapers/QuarterlyPipeline/quarterly/ems_archive_update.py
  airflow/etl_pipelines/tests/conftest.py
  airflow/etl_pipelines/tests/test_constants/station_csv/ems_archive_update_bcdata_station.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/ems_archive_update_current_download.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/ems_archive_update_historical_download.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/ems_archive_update_location_code.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/ems_archive_update_output.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/ems_archive_update_processed_data.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/ems_archive_update_station.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/ems_archive_update_stations_to_scrape.csv
  airflow/etl_pipelines/tests/test_constants/station_csv/water_quality_groupings.csv
  airflow/etl_pipelines/tests/test_ems_archive_update.py
Labels: testing, airflow/scrapers

#645 documentation update
  documentation/knowledge_transfer_documentation.md
Labels: documentation

#646 flyway migration and query updates
  backend/queries/climate/get_climate_stations.py
  backend/queries/shared/get_stations_by_type.py
  backend/queries/streamflow/get_streamflow_stations.py
  migrations/sql/V1.0.7__update_falsy_not_available_stn.sql
Labels: bug

#670 map filtering search fix
  client/src/components/MapFilters.vue
Labels: bug, frontend
