Repository bcgov/nr-bcwat, pull requests merged in 2025-07, with the labels that each got.

#229 Last Quarterly Scrapers
  airflow/dags/quarterly_ems_water_quality_dag.py
  airflow/dags/quarterly_moe_hydrometric_historic_dag.py
  airflow/etl_pipelines/README.md
  airflow/etl_pipelines/scrapers/QuarterlyPipeline/quarterly/ems_archive_update.py
  airflow/etl_pipelines/scrapers/QuarterlyPipeline/quarterly/moe_hydrometric_historic.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/StationObservationPipeline.py
  airflow/etl_pipelines/utils/ChemistryNlp.py
  airflow/etl_pipelines/utils/constants.py
  airflow/pvc_templates/airflow_data_pvc.yaml
  backend/database_initialization/all_data_transfer.py
  backend/database_initialization/queries/bcwat_obs_data.py
  backend/database_initialization/queries/bcwat_obs_erd_diagram.py
  backend/database_initialization/queries/bcwat_watershed_data.py
  backend/database_initialization/queries/bcwat_watershed_erd_diagram.py
  backend/database_initialization/readme_sources/bcwat_obs_erd_diagram.png
  backend/database_initialization/readme_sources/bcwat_watershed_erd_diagram.png
  backend/database_initialization/util.py
  documentation/Architecture.md
  migrations/sql/V1.0.1__bcwat_obs_erd_diagram.sql
  migrations/sql/V1.0.2__bcwat_watersed_erd_diagram.sql
Labels: data, airflow/scrapers

#237 bcwat-236-e2e-test-updates
  client/cypress/e2e/Climate.cy.js
  client/cypress/e2e/GroundWaterLevel.cy.js
  client/cypress/e2e/GroundWaterQuality.cy.js
  client/cypress/e2e/HomePage.cy.js
  client/cypress/e2e/Streamflow.cy.js
  client/cypress/e2e/SurfaceWaterQuality.cy.js
  client/cypress/e2e/Watershed.cy.js
  client/src/components/MapFilters.vue
  client/src/components/MapSearch.vue
  client/src/components/NavBar.vue
  client/src/components/climate/ClimatePage.vue
  client/src/components/groundwater-level/GroundwaterLevel.vue
  client/src/components/groundwater/GroundWater.vue
  client/src/components/home/HomePage.vue
  client/src/components/streamflow/Streamflow.vue
  client/src/components/surfacewater/SurfaceWater.vue
  client/src/components/watershed/Watershed.vue
Labels: frontend, testing

#334 bcwat-326-monthly-mean-flow
  client/package-lock.json
  client/package.json
  client/src/App.vue
  client/src/assets/shared-styles.scss
  client/src/components/MonthlyMeanFlowTable.vue
  client/src/components/ReportChart.vue
Labels: bug, enhancement, frontend

#339 Deploy e2e app onto openshift
  .github/workflows/.deployer.yml
  .github/workflows/.system-tests.yml
  .github/workflows/.unit-tests.yml
  .github/workflows/build-push-s3-init.yaml
  .github/workflows/deploy-airflow.yaml
  .github/workflows/merge.yml
  .github/workflows/pr-open.yml
  airflow/README.md
  airflow/dags/asp_dag.py
  airflow/dags/env_hydro_dag.py
  airflow/dags/water_approval_dag.py
  airflow/dags/wsc_hydro_dag.py
  backend/routers/streamflow.py
  charts/openshift/app/templates/secret.yaml
Labels: devops

#347 Add Licensee to Watershed Stations
  backend/queries/watershed/get_watershed_by_lat_lng.py
  backend/queries/watershed/get_watershed_stations.py
Labels: bug

#352 Ensure Every Historical Record has entry for each day. Null Fill
  backend/utils/climate.py
  backend/utils/groundwater.py
  backend/utils/shared.py
  backend/utils/streamflow.py
  client/src/components/streamflow/SevenDayFlow.vue
Labels: backend/api

#356 Handle Current data prototype
  backend/routers/climate.py
  backend/utils/climate.py
  client/src/components/climate/ClimateReport.vue
Labels: frontend, backend/api

#357 Watershed Report Stored Procedures
  airflow/etl_pipelines/scrapers/DataBcPipeline/DataBcpipeline.py
  airflow/etl_pipelines/scrapers/DataBcPipeline/licences/water_rights_licences_public.py
  airflow/etl_pipelines/scrapers/QuarterlyPipeline/quarterly/ems_archive_update.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/StationObservationPipeline.py
  airflow/etl_pipelines/scrapers/StationObservationPipeline/water/gw_moe.py
  database_initialization/.gitignore
  database_initialization/README.md
  database_initialization/all_data_transfer.py
  database_initialization/queries/bcwat_licence_data.py
  database_initialization/queries/bcwat_licence_erd_diagram.py
  database_initialization/queries/bcwat_obs_data.py
  database_initialization/queries/post_import_queries.py
  database_initialization/util.py
Labels: backend/api, airflow/scrapers

#393 Streamflow gwl csv download
  backend/database.py
  backend/queries/climate/get_climate_station_csv_by_id.py
  backend/queries/groundwater/get_groundwater_level_station_csv_by_id.py
  backend/queries/streamflow/get_streamflow_station_csv_by_id.py
  backend/routers/climate.py
  backend/routers/groundwater.py
  backend/routers/streamflow.py
  backend/utils/shared.py
  client/src/components/climate/ClimatePage.vue
  client/src/components/groundwater-level/GroundwaterLevel.vue
  client/src/components/streamflow/Streamflow.vue
  client/src/utils/api.js
Labels: frontend, backend/api

#415 Bcwat 402 implement lake click
  database_initialization/all_data_transfer.py
  database_initialization/queries/bcwat_watershed_data.py
  database_initialization/queries/bcwat_watershed_erd_diagram.py
  database_initialization/readme_sources/bcwat_watershed_erd_diagram.png
  database_initialization/table_data_types.py
Labels: bug
